.posts {
  text-align: center;
  color: #091e42;
  background-color: white;
  box-shadow: 0 4px 8px -2px rgba(9,30,66,.28), 0 0 1px rgba(9,30,66,.3);
  height: 400px;
  width: 400px;
  border-radius: 5px;
  margin: 0 auto;
  word-wrap: break-word;
  position:relative;
  padding: 20px;
}

.form-section {
  width: 100vw;
  height: 700px;
  margin-left: -33px;
  text-align: center;
  background-color: #24292e;
  margin-top: 100px;
  color: #fff;
  h1{
    font-weight: bold;
    font-size: 40px;
    line-height: 1.14285714;
  }
}

.form-container {
  border-radius: 3px;
  font: 95% Arial, Helvetica, sans-serif bold;
  color: #414a51;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 50px;
  padding: 16px;
  background: #DFE2DB;
}

#body-text{
  height: 300px;
}

.cardContent {
  margin-top:  50px;
}

.buttons {
  position: absolute;
  right: 25%;
  left: 25%;
  bottom:   15%;
  .edit {
    margin-left: 10px;
    width: 69px;
  }
}

.success-button {
  margin-top: 10px;
}

.post-container{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.title-area {
  margin: 0 auto;
  text-align: center;
}

#modal-content{
  line-height: 170%;
  margin-bottom: 1.1em;
  text-align: left;
  font-size: 1.075em;
}

#read-more {
  margin-top: 10px;
  margin-bottom: 10px;
}

#by-author {
  margin-bottom: 5px;
}
