<!DOCTYPE html>
<html>
  <head>
    <title>Champ</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag '_main' %>
    <%= stylesheet_pack_tag '_main' %>

  </head>

  <body>

    <%= yield %>
  </body>
</html>
